/* カスタムプロパティ用 */
:root {
  /* pc-menu */
  --menu-background-color: #202020;
  /* sp-menu */
  --sp-menu-content-background: rgba(0, 0, 0, 0.8);
  /* background */
  --background-color: #1e1e1e;
  --background-color-white: #fff;
  /* typography */
  --typo-color-white: #fff;
  --typo-color-dark: #101010;
  /* button */
  --button-background-color: #fff;
  --button-background-color-dark: var(--background-color);
  --button-hovered-background-color: rgba(255, 255, 255, 0.6);
  /* overlay */
  --overlay-background-color: rgba(255, 255, 255, 0.3);
}

body {
  background-color: var(--background-color);
  color: var(--typo-color-white);
}

/* Button */
.Button {
  padding: 12px;
  display: block;
  min-width: 180px;
  color: var(--typo-color-dark);
  font-weight: bold;
  text-align: center;
  background-color: var(--button-background-color);
  border-radius: 6px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

@media (hover: hover) {
  .Button:hover {
    background-color: var(--button-hovered-background-color);
  }
}

.Button + .Button {
  margin-left: 16px;

  @media screen and (max-width: 767px) {
    margin-left: initial;
    margin-top: 24px;
  }
}

/* Menu Bar */
.Menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 16px 20px;
  width: 100%;
  background-color: var(--menu-background-color);

  .Menu__logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--typo-color-white);
  }

  /* for PC */
  .Menu__linkItems {
    display: flex;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .Menu__linkItem + .Menu__linkItem {
    margin-left: 24px;
  }

  .Menu__link {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  @media (hover: hover) {
    .Menu__link:hover {
      color: var(--button-hovered-background-color);
    }
  }

  /* for SP */
  .Menu__hamburger {
    position: absolute;
    top: 18px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 28px;
    z-index: 999;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .Menu__hamburgerLine {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--button-background-color);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .Menu__hamburgerLine + .Menu__hamburgerLine {
    margin-top: 8px;
  }

  .Menu__hamburgerLine1--opened {
    position: relative;
    top: 10px;
    transform: rotate(135deg);
  }

  .Menu__hamburgerLine2--opened {
    opacity: 0;
  }

  .Menu__hamburgerLine3--opened {
    position: relative;
    top: -8px;
    transform: rotate(-135deg);
  }

  .Menu__spContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    background-color: var(--sp-menu-content-background);
  }

  .Menu__spLinkItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }

  .Menu__spLinkItem {
    font-size: 22px;
    font-weight: bold;
  }

  .Menu__spLinkItem + .Menu__spLinkItem {
    margin-top: 40px;
  }
}

/* 各セクション */
.section {
  padding: 120px;
  width: 100%;
  min-height: 600px;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding: 80px 20px 0;
  }
}

/* TOP */
.Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  max-height: 1000px;

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  .Top__title {
    margin: 0;
    font-size: 44px;
  }

  .Top__text {
    margin: 48px auto 0;
    max-width: 40%;
    font-size: 14px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .Top__buttons {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
      flex-direction: column;
      width: 100%;
    }
  }
}

/* Info */
.Info {
  .Info__title {
    margin: 0;
    font-size: 48px;
  }

  .Info__items {
    margin-top: 60px;
  }

  .Info__item + .Info__item {
    margin-top: 36px;
  }

  .Info__text {
    margin-left: 20px;
  }
}

/* Buy */
.Buy {
  .Buy__title {
    margin: 0;
    font-size: 48px;
  }
}

/* Entry */
.Entry {
  height: auto;

  .Entry__title {
    margin: 0;
    font-size: 48px;
  }

  .Entry__subTitle {
    font-size: 14px;
  }

  .Entry__tab {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
      justify-content: space-between;
    }
  }

  .Entry__tabItem {
    font-size: 24px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  .Entry__tabItem + .Entry__tabItem {
    margin-left: 40px;

    @media screen and (max-width: 767px) {
      margin-left: initial;
    }
  }

  .Entry__tabItemButton {
    padding: 8px 6px;
    min-width: 200px;
    border-radius: 8px;
    color: var(--typo-color-white);

    @media screen and (max-width: 767px) {
      min-width: 100px;
    }
  }

  .Entry__tabItemButton--selected {
    color: var(--typo-color-dark);
    background-color: var(--button-background-color);
  }

  @media (hover: hover) {
    .Entry__tabItemButton:hover {
      background-color: var(--button-hovered-background-color);
    }
  }

  .Entry__content {
    margin: 20px auto 0;
    padding-top: 20px;
    width: 80%;
    height: 500px;
    border-top: 1px solid var(--background-color-white);

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 480px;
    }
  }

  .Entry__supplement {
    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }

  .Entry__columnNames {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding: 0 28px;
  }

  .Entry__columnLeft {
    width: 200px;
  }

  .Entry__columnRight {
    display: flex;

    p + p {
      margin-left: 28px;
    }
  }

  /* 単勝 */
  .Entry__contentSingle {
    margin-top: 20px;
    height: 360px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .Entry__singleTeamButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 28px;
    width: 100%;
    border-radius: 10px;
    color: var(--typo-color-white);

    @media screen and (max-width: 767px) {
      padding: 8px 16px;
    }
  }

  .Entry__contentSingleItem + .Entry__contentSingleItem {
    margin-top: 16px;
  }

  @media (hover: hover) {
    .Entry__singleTeamButton:hover {
      background-color: var(--button-hovered-background-color);
    }
  }

  .Entry__teamLeftColumn,
  .Entry__teamRightColumn {
    display: flex;
    align-items: center;
  }

  .Entry__teamImage {
    margin-left: 40px;
    width: 72px;
    height: 72px;
    border: 1px solid var(--typo-color-white);
    border-radius: 50%;

    @media screen and (max-width: 767px) {
      margin-left: 16px;
      width: 32px;
      height: 32px;
    }
  }

  .Entry__teamName {
    margin-left: 20px;
    font-size: 22px;

    @media screen and (max-width: 767px) {
      margin-left: 12px;
      max-width: 72px;
      font-size: 16px;
    }
  }

  .Entry__teamOdds {
    margin-left: 28px;

    @media screen and (max-width: 767px) {
      margin-left: 12px;
    }
  }

  .Entry__teamSold,
  .Entry__teamOdds {
    font-size: 13px;
  }

  /* 2連複 */
  .Entry__contentDouble {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
  }
  .Entry__contentDoubleSelector {
    display: flex;
    flex-direction: column;
    padding: 8px 28px;

    label {
      text-align: left;
      font-weight: bold;
    }

    .Entry__contentDoublePulldown {
      padding: 0 16px;
      height: 60px;
      border-radius: 8px;
      background-color: var(--background-color-white);
      font-size: 22px;
    }
  }

  .Entry__contentDoubleSelector + .Entry__contentDoubleSelector {
    margin-top: 40px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  .Entry__contentDoubleInfo {
    margin-top: 60px;

    p + p {
      margin-top: 16px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 80px;
    }
  }
  
  /* 3連単 */
  .Entry__contentTriple {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
  }
  .Entry__contentTripleSelector {
    display: flex;
    flex-direction: column;
    padding: 8px 28px;

    label {
      text-align: left;
      font-weight: bold;
    }

    .Entry__contentTriplePulldown {
      padding: 0 16px;
      height: 60px;
      border-radius: 8px;
      background-color: var(--background-color-white);
      font-size: 22px;
    }
  }

  .Entry__contentTripleSelector + .Entry__contentTripleSelector {
    margin-top: 12px;

    @media screen and (max-width: 767px) {
      margin-top: 12px;
    }
  }

  .Entry__contentTripleInfo {
    margin-top: 60px;

    p + p {
      margin-top: 16px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 36px;
    }
  }

  /* 共通ボタン */
  .Entry__buttonColumn {
    padding: 28px 0;
    text-align: center;
  }

  .Entry__button {
    margin: 0 auto;
    width: 360px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .Entry__confirmDialog {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--typo-color-dark);
  }

  .Entry__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-background-color);
  }

  .Entry__confirmDialogArea {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 20px;
    width: 600px;
    height: 400px;
    background-color: var(--background-color-white);
    border-radius: 8px;

    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }

  .Entry__confirmDialogAreaTitle {
    font-size: 22px;
    font-weight: bold;
  }

  .Entry__confirmDialogAreaText {
    margin-top: 80px;
  }

  .Entry__confirmDialogAreaTextarea {
    margin-top: 40px;
  }

  .Entry__confirmButton {
    color: var(--typo-color-white);
    background-color: var(--button-background-color-dark);
  }
}

/* Entry Status */
.EntryStatus {
  margin-top: 80px;

  @media screen and (max-width: 767px) {
    padding-bottom: 100px;
  }

  .EntryStatus__title {
    margin: 0;
    font-size: 48px;
  }

  .EntryStatus__columnNames {
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 18px;

    @media screen and (max-width: 767px) {
      margin-top: 36px;
      width: 100%;
      font-size: 14px;
    }
  }

  .EntryStatus__columnLeft,
  .EntryStatus__columnRight {
    flex-shrink: 0;
    display: flex;

    p + p {
      margin-left: 16px;
      @media screen and (max-width: 767px) {
        margin-left: 8px;
      }
    }
  }

  .EntryStatus__content {
    padding: 32px 0;
    margin: 0 auto;
    width: 80%;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: 767px) {
      padding: 32px 0;
      width: 100%;
    }
  }

  .EntryStatus__contentSingleItem {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding-right: 20px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  .EntryStatus__contentSingleItem + .EntryStatus__contentSingleItem {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--background-color-white);
  }

  .EntryStatus__type + .EntryStatus__teamName {
    margin-left: 48px;

    @media screen and (max-width: 767px) {
      margin-left: 4px;
    }
  }

  .EntryStatus__date + .EntryStatus__type,
  .EntryStatus__sold + .EntryStatus__odds {
    margin-left: 24px;

    @media screen and (max-width: 767px) {
      margin-left: 4px;
    }
  }

  .EntryStatus__buttonColumn {
    padding: 28px 0;
    text-align: center;
  }

  .EntryStatus__button,
  .EntryStatus__editButton {
    margin: 0 auto;
    max-width: 360px;
  }

  .EntryStatus__editButton {
    width: 100%;
  }

  .EntryStatus__statusInfo,
  .EntryStatus__userInfo {
    margin: 40px auto 0;
    width: fit-content;
    text-align: left;
    font-size: 20px;

    @media screen and (max-width: 767px) {
      width: 80%;
      font-size: 14px;
    }
  }

  .EntryStatus__userInfo {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .EntryStatus__statusItem {
    min-width: 360px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      min-width: 100%;
    }
  }

  .EntryStatus__statusItem + .EntryStatus__statusItem {
    margin-top: 8px;
  }

  .EntryStatus__userInfoItem + .EntryStatus__userInfoItem {
    margin-top: 8px;
  }

  .EntryStatus__userInfoValue {
    margin-left: 16px;
  }

  /* Dialog */
  .EntryStatus__confirmDialog {
    position: fixed;
    top: 0;
    left: 0;
  }

  .EntryStatus__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-background-color);
  }

  .EntryStatus__confirmDialogArea {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 20px;
    width: 600px;
    height: 500px;
    background-color: var(--background-color-white);
    border-radius: 8px;
    color: var(--typo-color-dark);

    @media screen and (max-width: 767px) {
      width: 80%;
      height: 440px;
    }
  }

  .EntryStatus__confirmDialogAreaTitle {
    font-size: 22px;
    font-weight: bold;
  }

  .EntryStatus__confirmDialogAreaText {
    margin-top: 80px;

    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }

  .EntryStatus__confirmDialogAreaTextareaTitle {
    margin: 40px auto 0;
    width: 360px;
    text-align: left;
    font-weight: bold;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .EntryStatus__confirmDialogAreaTextarea {
    width: 360px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .EntryStatus__confirmButton {
    color: var(--typo-color-white);
    background-color: var(--button-background-color-dark);
  }
}
